.example-form {
    min-width: 150px;
    max-width: 35%;
    width: 100%;
    margin-left: 32.5%;
}
.example-full-width {
    width: 100%;
}
.btn-add-back-customer{
    width: 30%;
    margin-top: 30px;
    min-width: 190px;
    margin-left: 8%;
}
.btn-add-customer{
    width: 25%;
    margin-top: 30px;
    margin-left: 20%;
}