<!-- <a [routerLink]="['/Login']" routerLinkActive="router-link-active" >PageLogin</a>
<router-outlet></router-outlet> -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- (click)="snav.toggle()" -->
<div class="example-container">
    <mat-toolbar color="primary" class="example-toolbar">
        <div>
            <button mat-icon-button (click)="snav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <div>
            <a mat-button [routerLink]="['/Home']" [routerLinkActive]="'active-link'">
                <mat-icon>home</mat-icon><span class="example-app-name">Home</span>
            </a>
            <a mat-button [routerLink]="['/About']" [routerLinkActive]="'active-link'">
                <span class="example-app-name">About</span>
            </a>
            <a mat-button [routerLink]="['/Contact']" [routerLinkActive]="'active-link'">
                <mat-icon>perm_phone_msg</mat-icon><span class="example-app-name">Contact</span>
            </a>
            <span matBadge="{{totalCustomer}}" matBadgeColor="warn" class="example-app-name font-text-header">Total customer</span>
        </div>



    </mat-toolbar>
    <p>sdefdfdsfdfd</p>
    <!-- <mat-sidenav-container>
        <mat-sidenav>
            <mat-nav-list>
                <a href="#">nhanvien</a>
            </mat-nav-list>
        </mat-sidenav>
    </mat-sidenav-container> -->

    <!-- <mat-sidenav-container>
        <mat-sidenav #sidenav (closed)="closeLeftSide()">
            <mat-nav-list>
                <a mat-list-item [routerLink]="['/dashboard']">
                    <mat-icon mat-list-icon>home</mat-icon> Bảng điều khiển
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container> -->

    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #snav>
            <mat-nav-list>
                <a mat-list-item routerLink="/Employee" [routerLinkActive]="'active-link'">Employee</a>
            </mat-nav-list>
            <mat-nav-list>
                <a mat-list-item routerLink="/Products" [routerLinkActive]="'active-link'">Products</a>
            </mat-nav-list>
            <mat-nav-list>
                <a mat-list-item routerLink="/Customers" [routerLinkActive]="'active-link'">Customers</a>
            </mat-nav-list>
            <mat-nav-list>
                <a mat-list-item routerLink="/Blogs" [routerLinkActive]="'active-link'">Blogs</a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <div style="
                height: 90vh;
                margin-top: 64px;
                margin-right: 10px;
                margin-left: 10px;
              ">
                
                
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<!-- <div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>  -->